<div class="container-fluid vh-100 bg-info ">
<h2 class="display-4 text-center pt-5">We provide streaming of more than 5000 movies</h2>
<hr>
<div class="row mt-5">
  <div class="col col-md-6 col-lg-6 col-xs-12 col-sm-12 form-group">
    <label for="moviename text-warning">Movie Name</label>
    <input type="text" class="form-control" name="" id="" placeholder="search here">
  </div>
  <div class="col col-md-6 mb-4 col-lg-6 col-xs-12 col-sm-12 form-group">
    <label for="movieyear text-warning">Movie Year</label>
    <input type="number" class="form-control" name="" id="movieyear" placeholder="movieyear">
  </div>
</div>
<h4 class="display-5 mt-5 text-center">We even Provide Tv Shows streaming service, want to see ?</h4>
<input type="checkbox" class="form-control" name="" id="">
<button type="submit" class="btn text-center w-25 btn-outline-warning">Start Streaming</button>
</div>
